foreground = #BBBBBB
background = #2B2B2B

# If unset, will reverse foreground and background
highlight = #214283

#: black
color0 = #000000
color8 = #4F4F4F

#: red
color1 = #DB5451
color9 = #FF5452

#: green
color2  = #548C26
color10 = #61AB11

#: yellow
color3  = #A89022
color11 = #FFFF00

#: blue
color4  = #3A91CF
color12 = #1EA0FC

#: magenta
color5  = #A575BA
color13 = #E55CE5

#: cyan
color6  = #009191
color14 = #00FFFF

#: white
color7  = #7A7A7A
color15 = #FFFFFF

#: darkblue
color17 = #214283

